/*************************
 *  your code goes here  *
 *************************/

.bxc .bx-creative {
    background-color: #ffc215;
    padding: 60px 80px;
    color: #000066;
}

.bxc h3{
    font-weight: 300;
    font-size: 25px;
    margin: 0;
}

.bxc h2{
    font-weight: 700;
    font-size: 40px;
    margin: 0;
}

.bxc h1{
    font-weight: 700;
    font-size: 62px;
    margin: 0;
}

.corner{
  -webkit-box-shadow: -8px 10px 21px 0px rgba(0,0,0,0.45);
-moz-box-shadow: -8px 10px 21px 0px rgba(0,0,0,0.45);
box-shadow: -8px 10px 21px 0px rgba(0,0,0,0.45);
}

.bxc .bx-creative input[type="email"], .bxc .bx-creative input[type="number"], .bxc .bx-creative input[type="password"], .bxc .bx-creative input[type="search"], .bxc .bx-creative input[type="tel"], .bxc .bx-creative input[type="text"], .bxc .bx-creative input[type="url"], .bxc .bx-creative input[type="color"], .bxc .bx-creative input[type="date"], .bxc .bx-creative input[type="datetime"], .bxc .bx-creative input[type="datetime-local"], .bxc .bx-creative input[type="month"], .bxc .bx-creative input[type="time"], .bxc .bx-creative input[type="week"] {
    -webkit-box-shadow: inset -1px -1px 21px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: inset -1px -1px 21px 0px rgba(0,0,0,0.45);
    box-shadow: inset -1px -1px 10px 0px rgba(0,0,0,0.45);
    border: 1px solid #fff;

  }

  .bx-row-email{
        margin-bottom: 20px;
        -webkit-box-shadow: 0px 10px 45px -9px rgba(0,0,0,0.45);
-moz-box-shadow: 0px 10px 45px -9px rgba(0,0,0,0.45);
box-shadow: 0px 10px 45px -9px rgba(0,0,0,0.45);
  }

  .bx-row-submit{
    -webkit-box-shadow: 0px 10px 45px -9px rgba(0,0,0,0.45);
-moz-box-shadow: 0px 10px 45px -9px rgba(0,0,0,0.45);
box-shadow: 0px 10px 45px -9px rgba(0,0,0,0.45);
  }

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  text-align: center;
  color: #c2c2c2;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    text-align: center;
    color: #c2c2c2;
  }
  :-ms-input-placeholder { /* IE 10+ */
    text-align: center;
    color: #c2c2c2;
  }
  :-moz-placeholder { /* Firefox 18- */
    text-align: center;
    color: #c2c2c2;
  }